<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
</head>
<body>
	{% if name %}
	  <h2>Hello {{ name }}!</h2>
	{% else %}
	  <h2>Hello, World!</h2>
	{% endif %}
	<div>
		<form method="get" action="down">
			<table cellpadding="0" cellspacing="0" border="1">
				<thead>
					<tr>
						<th>字段名</th>
						<th>选择</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><input type="text" name="n" required/></th>
						<th>
							<select name="c" required>
								<option value ="1">姓名</option>
								<option value ="2">地址</option>
								<option value ="3">手机号</option>
								<option value ="4">身份证</option>
								<option value ="5">财产</option>
							</select>
						</th>
					</tr>
					<tr>
						<th><input type="text" name="n" required/></th>
						<th>
							<select name="c" required>
								<option value ="1">姓名</option>
								<option value ="2">地址</option>
								<option value ="3">手机号</option>
								<option value ="4">身份证</option>
								<option value ="5">财产</option>
							</select>
						</th>
					</tr>
					<tr>
						<th><input type="text" name="n" required/></th>
						<th>
							<select name="c" required>
								<option value ="1">姓名</option>
								<option value ="2">地址</option>
								<option value ="3">手机号</option>
								<option value ="4">身份证</option>
								<option value ="5">财产</option>
							</select>
						</th>
					</tr>
				</tbody>
			</table>
			<span>总条数：</span><input type="text" name="count" required>
			<br>
			<input type="submit" value="生成"/>
		</form>
	</div>
</body>
</html>